**/Private
**/private

**/self
**/personal

**/ignoreThis
**/ignore

**/Archive
**/archive

*.o
*.out

**/Materials
**/materials
**/Material
**/material

**/build
**/Build
**/bin

**/temp 
**/lib 
**/tests
**/tools



# Obsidian workspace & settings
.obsidian/

# Optional: ignore Obsidian plugins & cache specifically
.obsidian/plugins/
.obsidian/cache/

# Ignore local OS clutter (recommended)
.DS_Store
Thumbs.db

