**/Private
**/private

**/self
**/personal

**/ignoreThis
**/ignore

**/Archive
**/archive

*.o
*.out

**/Materials
**/materials
**/Material
**/material

**/build
**/Build
**/bin

**/temp 
**/lib 
**/tests
**/tools

