body{
    color:white;
    background-color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
}

#miniControlPanel{
    border:black 1px solid; margin:1%; padding:5%; border-radius: 10px;
}

main{
    margin: 0;
}
canvas {
    background-color: white;
    border: 2px solid black;
    /* image-rendering: pixelated; */
    image-rendering: crisp-edges;
    float:right;
}

.DisplayBox{
    position: absolute;
    float:right;
    
}


#ControlPanel{
    position: absolute;
    float:left;
    font-family: Arial, Helvetica, sans-serif;
}


#blendingFunctionGraph{
    /* width: 250px;
    height: 250px; */
}